
<section class="hero">
  <h1 class="hero-title">Hi, I'm Snezhana Ismailaj</h1>
  <p class="hero-subtitle">
    I'm a Computer Science and Cybersecurity student at Drexel University. I’m passionate about building secure, data-driven tools that improve lives. Fluent in Albanian, English, and Italian.
  </p>
</section>
